.Header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 20px;
}

.barChart {
	display: flex;
	align-items: center;
	margin-top: 20px;

	.barLine {
		flex-grow: 1;
	}
}

.btn {
	margin-top: 75px;
}

.text_l1 {
	font: 600 var(--font-l);
}

.imgWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputWrapper {
	display: flex;
	align-items: center;
	column-gap: 10px;
	margin-top: 10px;

	.input {
		width: 50%;
	}
}
