.FoodInfoCalendar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	[class*="ant-picker"] {
		visibility: hidden;
		position: absolute;
		user-select: none;
	}

	svg {
		width: 20px;
		height: 20px;
	}
}

.day {
	font: 600 var(--font-m-2);
}
