$global-colors: (
	--dark-green: #007847,
	--green: #46aa11,
	--red: #e43b3b,
	--dark-gray: #303030,
	--gray: #a7a7a7,
	--light-green: #dcfb99,
	--blue: #088bff,

	--primary-color: var(--dark-green),
	--secondary-color: #ffffff,
);
